body {
    background-color: lightgoldenrodyellow;
}
header {
    background-color: darkorange;
}
footer {
    background-color: burlywood;
}
table {
    border-color: orangered;
}
.oddeleni {
    border-right: 8px solid #bbb;
}