body {
    background-color: lightgoldenrodyellow;
}
header {
    background-color: darkorange;
}
footer {
    background-color: burlywood;
}
table {
    border-color: orangered;
}
hr.oddeleni {
    border-right: 4px solid black;
    border-left: 4px solid black;
}